<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Wordpress Failed Login Attempts</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- <link rel="stylesheet" href="{{ url_for('static', filename='folium.css') }}"> -->
    </head>
    <body>
      <div class="container">
        <h1>Failed logins</h1>
        <div class="container">
          <table>
          <tr>
            <td>
              {{ID}}
            </td>
          </tr>
          <tr>
            <td>
              {{DATE}}
            </td>
          </tr>
        </table>
          <!-- <table>
            <tr>
              <th>TEST 1</th>
              <th>TEST 2</th>
            </tr>
            {% for a in addr %}
            <tr>
              <td>{{ a }}</td>
            </tr>
            {% endfor %}
          </table>           -->
        </div>
          <div class="folium-map">
              <table>
                  <!-- <tr>
                    <th>Locations</th>
                    <th>Date</th>
                  </tr> -->
                  {% for a in addr %}
                  <tr>
                    <td>{{ a }}</td>
                  </tr>
                  {% endfor %}
                </table>
              <iframe src="/get_map" height="400" width="100%">Folium Map</iframe>
          </div>
      </div>
      <script src="" async defer></script>
    </body>
</html>