<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Wordpress Failed Login Attempts</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../static/folium.css">
        <link rel="stylesheet" href="{{ url_for('static', filename='folium.css') }}">
    </head>
    <body>
      <div class="container">
        <h1>Failed logins</h1>
      </div>
      <form id='submit-form' action="/run_app" method="POST">
        <div class='submit-fields'>
          <label for="qd">Query (hours)</label>
          </div>
        <div class='submit-fields'>
          <input type="text" id="qd" name="qd">
          </div>
        <div class='submit-fields'>
        <button onclick="style='background-color: black; border: none;'" id='submit-button' type='submit'>Submit</button>
        </div>
      </form>
      <script src="../static/loader.js"></script>
    </body> 
</html>