<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Wordpress Failed Login Attempts</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{ url_for('static', filename='folium.css') }}">
    </head>
    <body>
      <div class="container">
          <div class="folium-map">
              <h1>Failed login attempts</h1>
              <table>
                  <tr>
                    <th>Date</th>
                    <th>IP Address</th>
                  </tr>
                  <tr>
                    <td>Jill</td>
                    <td>Smith</td>
                  </tr>
                  <tr>
                    <td>Eve</td>
                    <td>Jackson-Tumalon</td>
                  </tr>
                </table>
              <iframe src="/get_map" height="400" width="100%">Folium Map</iframe>
          </div>
      </div>
      <div>
        <!-- output ADDR somehow -->
        {% for addr in res %}
            <p>{{ addr }}</p>
        {% endfor %}
      </div>
      <script src="" async defer></script>
    </body>
</html>