<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_78127c2ea68b4134a4b7fffa3d48f1cb {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_78127c2ea68b4134a4b7fffa3d48f1cb" ></div>
        
</body>
<script>    
    
            var map_78127c2ea68b4134a4b7fffa3d48f1cb = L.map(
                "map_78127c2ea68b4134a4b7fffa3d48f1cb",
                {
                    center: [0, 0],
                    crs: L.CRS.EPSG3857,
                    zoom: 1,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_97b52fff184a4074be9437300fb260f3 = L.tileLayer(
                "https://cartodb-basemaps-{s}.global.ssl.fastly.net/dark_all/{z}/{x}/{y}.png",
                {"attribution": "\u0026copy; \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eOpenStreetMap\u003c/a\u003e contributors \u0026copy; \u003ca href=\"http://cartodb.com/attributions\"\u003eCartoDB\u003c/a\u003e, CartoDB \u003ca href =\"http://cartodb.com/attributions\"\u003eattributions\u003c/a\u003e", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_78127c2ea68b4134a4b7fffa3d48f1cb);
        
    
            var circle_marker_599d04a7f8ae449c9338c4765e43d0f9 = L.circleMarker(
                [45.518127899999996, -73.5508759988049],
                {"bubblingMouseEvents": true, "color": "#1fff96", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#7de8b5", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 10, "stroke": true, "weight": 3}
            ).addTo(map_78127c2ea68b4134a4b7fffa3d48f1cb);
        
    
            var circle_marker_7374979c4047438586f2191db92204a7 = L.circleMarker(
                [47.5581077, 7.5878261],
                {"bubblingMouseEvents": true, "color": "#1fff96", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#7de8b5", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 10, "stroke": true, "weight": 3}
            ).addTo(map_78127c2ea68b4134a4b7fffa3d48f1cb);
        
    
            var circle_marker_666499bfb22746b5a2a7fc1be350022f = L.circleMarker(
                [51.4810858, 0.2369945],
                {"bubblingMouseEvents": true, "color": "#1fff96", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#7de8b5", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 10, "stroke": true, "weight": 3}
            ).addTo(map_78127c2ea68b4134a4b7fffa3d48f1cb);
        
    
            var circle_marker_a9ab864bfdae4c77a42e91cff0f3c827 = L.circleMarker(
                [48.584614, 7.7507127],
                {"bubblingMouseEvents": true, "color": "#1fff96", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#7de8b5", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 10, "stroke": true, "weight": 3}
            ).addTo(map_78127c2ea68b4134a4b7fffa3d48f1cb);
        
    
            var circle_marker_5ed54c6e251b43968501f78e0c836b0f = L.circleMarker(
                [52.5170365, 13.3888599],
                {"bubblingMouseEvents": true, "color": "#1fff96", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#7de8b5", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 10, "stroke": true, "weight": 3}
            ).addTo(map_78127c2ea68b4134a4b7fffa3d48f1cb);
        
    
            var circle_marker_88357c26d3434463bfc4df123064bfa6 = L.circleMarker(
                [40.6501038, -73.9495823],
                {"bubblingMouseEvents": true, "color": "#1fff96", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#7de8b5", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 10, "stroke": true, "weight": 3}
            ).addTo(map_78127c2ea68b4134a4b7fffa3d48f1cb);
        
    
            var circle_marker_ba985a01badc4652b4ae39124a5cf13e = L.circleMarker(
                [40.8584328, -74.1637553],
                {"bubblingMouseEvents": true, "color": "#1fff96", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#7de8b5", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 10, "stroke": true, "weight": 3}
            ).addTo(map_78127c2ea68b4134a4b7fffa3d48f1cb);
        
    
            var circle_marker_3f5c0152f985438e995f46ad1bbd4e70 = L.circleMarker(
                [47.460873, 8.3892173],
                {"bubblingMouseEvents": true, "color": "#1fff96", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#7de8b5", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 10, "stroke": true, "weight": 3}
            ).addTo(map_78127c2ea68b4134a4b7fffa3d48f1cb);
        
    
            var circle_marker_038067606afe46c5bc1729d4cb6dedcb = L.circleMarker(
                [39.9065084, 116.3912391],
                {"bubblingMouseEvents": true, "color": "#1fff96", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#7de8b5", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 10, "stroke": true, "weight": 3}
            ).addTo(map_78127c2ea68b4134a4b7fffa3d48f1cb);
        
    
            var circle_marker_2ea8f98ef17942a9ac2574e83a41367d = L.circleMarker(
                [50.6915893, 3.1741734],
                {"bubblingMouseEvents": true, "color": "#1fff96", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#7de8b5", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 10, "stroke": true, "weight": 3}
            ).addTo(map_78127c2ea68b4134a4b7fffa3d48f1cb);
        
    
            var circle_marker_58f714ae41b245fcbb9aa1665c8fb499 = L.circleMarker(
                [51.52427, -0.1634083],
                {"bubblingMouseEvents": true, "color": "#1fff96", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#7de8b5", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 10, "stroke": true, "weight": 3}
            ).addTo(map_78127c2ea68b4134a4b7fffa3d48f1cb);
        
    
            var circle_marker_b51587507973431289720bf127f8caab = L.circleMarker(
                [48.2102066, 16.3773476],
                {"bubblingMouseEvents": true, "color": "#1fff96", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#7de8b5", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 10, "stroke": true, "weight": 3}
            ).addTo(map_78127c2ea68b4134a4b7fffa3d48f1cb);
        
    
            var circle_marker_fa217aa6c4874a22aa71ecefbe7e769b = L.circleMarker(
                [30.225126, 120.14650830285095],
                {"bubblingMouseEvents": true, "color": "#1fff96", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#7de8b5", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 10, "stroke": true, "weight": 3}
            ).addTo(map_78127c2ea68b4134a4b7fffa3d48f1cb);
        
    
            var circle_marker_9097ea7797f04bde82a0fde13ca68f31 = L.circleMarker(
                [47.0245117, 28.8322923],
                {"bubblingMouseEvents": true, "color": "#1fff96", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#7de8b5", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 10, "stroke": true, "weight": 3}
            ).addTo(map_78127c2ea68b4134a4b7fffa3d48f1cb);
        
    
            map_78127c2ea68b4134a4b7fffa3d48f1cb.fitBounds(
                [[30.225126, -74.1637553], [52.5170365, 120.14650830285095]],
                {"padding": [20, 20]}
            );
        
</script>