<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_42f8d804115a4140bd2c54844f217bc3 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_42f8d804115a4140bd2c54844f217bc3" ></div>
        
</body>
<script>    
    
            var map_42f8d804115a4140bd2c54844f217bc3 = L.map(
                "map_42f8d804115a4140bd2c54844f217bc3",
                {
                    center: [0, 0],
                    crs: L.CRS.EPSG3857,
                    zoom: 1,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_815cf82cf1a74485812804c72b5cf895 = L.tileLayer(
                "https://cartodb-basemaps-{s}.global.ssl.fastly.net/dark_all/{z}/{x}/{y}.png",
                {"attribution": "\u0026copy; \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eOpenStreetMap\u003c/a\u003e contributors \u0026copy; \u003ca href=\"http://cartodb.com/attributions\"\u003eCartoDB\u003c/a\u003e, CartoDB \u003ca href =\"http://cartodb.com/attributions\"\u003eattributions\u003c/a\u003e", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_42f8d804115a4140bd2c54844f217bc3);
        
    
            var circle_marker_d1197b7fb19e4ac695cd28f614aa3e57 = L.circleMarker(
                [31.4648357, -100.4398442],
                {"bubblingMouseEvents": true, "color": "#1fff96", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#7de8b5", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 10, "stroke": true, "weight": 3}
            ).addTo(map_42f8d804115a4140bd2c54844f217bc3);
        
    
            var circle_marker_366978e99922433ba8c74f87c88fb923 = L.circleMarker(
                [22.2850394, 114.1583819],
                {"bubblingMouseEvents": true, "color": "#1fff96", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#7de8b5", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 10, "stroke": true, "weight": 3}
            ).addTo(map_42f8d804115a4140bd2c54844f217bc3);
        
    
            var circle_marker_9ab01c889aa24f7db5965533c2e5b175 = L.circleMarker(
                [37.2333253, -121.6846349],
                {"bubblingMouseEvents": true, "color": "#1fff96", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#7de8b5", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 10, "stroke": true, "weight": 3}
            ).addTo(map_42f8d804115a4140bd2c54844f217bc3);
        
    
            var circle_marker_0cfab5b20367488b953b4d94670a398c = L.circleMarker(
                [53.29348, -2.1107855],
                {"bubblingMouseEvents": true, "color": "#1fff96", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#7de8b5", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 10, "stroke": true, "weight": 3}
            ).addTo(map_42f8d804115a4140bd2c54844f217bc3);
        
    
            var circle_marker_9e7befb965244a92876b194b03955a52 = L.circleMarker(
                [45.6015056, -121.1841587],
                {"bubblingMouseEvents": true, "color": "#1fff96", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#7de8b5", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 10, "stroke": true, "weight": 3}
            ).addTo(map_42f8d804115a4140bd2c54844f217bc3);
        
    
            var circle_marker_4d6d0b2428134746910af025b330b3eb = L.circleMarker(
                [43.65238435, -79.38356765],
                {"bubblingMouseEvents": true, "color": "#1fff96", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#7de8b5", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 10, "stroke": true, "weight": 3}
            ).addTo(map_42f8d804115a4140bd2c54844f217bc3);
        
    
            var circle_marker_24dcdc50bfc64d9d97cdd1721ee9d9f8 = L.circleMarker(
                [50.1080524, 8.6821609],
                {"bubblingMouseEvents": true, "color": "#1fff96", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#7de8b5", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 10, "stroke": true, "weight": 3}
            ).addTo(map_42f8d804115a4140bd2c54844f217bc3);
        
    
            var circle_marker_e67062d720d74c8bb76a2e2511c6f16b = L.circleMarker(
                [40.6503248, 35.8329148],
                {"bubblingMouseEvents": true, "color": "#1fff96", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#7de8b5", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 10, "stroke": true, "weight": 3}
            ).addTo(map_42f8d804115a4140bd2c54844f217bc3);
        
    
            var circle_marker_43fed28d065840e3875e2ff4b17acbb0 = L.circleMarker(
                [48.0158753, 37.8013407],
                {"bubblingMouseEvents": true, "color": "#1fff96", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#7de8b5", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 10, "stroke": true, "weight": 3}
            ).addTo(map_42f8d804115a4140bd2c54844f217bc3);
        
    
            var circle_marker_51309347794047c29129e687052ed7af = L.circleMarker(
                [53.554448, 9.991344],
                {"bubblingMouseEvents": true, "color": "#1fff96", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#7de8b5", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 10, "stroke": true, "weight": 3}
            ).addTo(map_42f8d804115a4140bd2c54844f217bc3);
        
    
            var circle_marker_3c6a32e7d44a4c7397ce0b7605c33a80 = L.circleMarker(
                [48.584614, 7.7507127],
                {"bubblingMouseEvents": true, "color": "#1fff96", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#7de8b5", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 10, "stroke": true, "weight": 3}
            ).addTo(map_42f8d804115a4140bd2c54844f217bc3);
        
    
            var circle_marker_4dacd35c81a647f4a788e96d62ab9de8 = L.circleMarker(
                [38.955696, -77.34188461532918],
                {"bubblingMouseEvents": true, "color": "#1fff96", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#7de8b5", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 10, "stroke": true, "weight": 3}
            ).addTo(map_42f8d804115a4140bd2c54844f217bc3);
        
    
            var circle_marker_8f14a89b6c9841dc85a3bad2ce581c35 = L.circleMarker(
                [40.8042674, -74.012084],
                {"bubblingMouseEvents": true, "color": "#1fff96", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#7de8b5", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 10, "stroke": true, "weight": 3}
            ).addTo(map_42f8d804115a4140bd2c54844f217bc3);
        
    
            var circle_marker_eb2d9d97974a47f8a2c3dc7ea45549e1 = L.circleMarker(
                [52.5212593, -1.7845494],
                {"bubblingMouseEvents": true, "color": "#1fff96", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#7de8b5", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 10, "stroke": true, "weight": 3}
            ).addTo(map_42f8d804115a4140bd2c54844f217bc3);
        
    
            var circle_marker_9789d48f81b2478e8fa01995500340a9 = L.circleMarker(
                [-1.312692, 36.7772927],
                {"bubblingMouseEvents": true, "color": "#1fff96", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#7de8b5", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 10, "stroke": true, "weight": 3}
            ).addTo(map_42f8d804115a4140bd2c54844f217bc3);
        
    
            var circle_marker_249a34348dd347368d0d27d6aa0800ba = L.circleMarker(
                [52.3727598, 4.8936041],
                {"bubblingMouseEvents": true, "color": "#1fff96", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#7de8b5", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 10, "stroke": true, "weight": 3}
            ).addTo(map_42f8d804115a4140bd2c54844f217bc3);
        
    
            var circle_marker_af682a0730a34a07a992fec2341b21e8 = L.circleMarker(
                [40.6501038, -73.9495823],
                {"bubblingMouseEvents": true, "color": "#1fff96", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#7de8b5", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 10, "stroke": true, "weight": 3}
            ).addTo(map_42f8d804115a4140bd2c54844f217bc3);
        
    
            var circle_marker_f4ea1d1ebea94e12b3803a7f5bd602af = L.circleMarker(
                [51.5073219, -0.1276474],
                {"bubblingMouseEvents": true, "color": "#1fff96", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#7de8b5", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 10, "stroke": true, "weight": 3}
            ).addTo(map_42f8d804115a4140bd2c54844f217bc3);
        
    
            var circle_marker_d551a815e5e84f84a9550873da801556 = L.circleMarker(
                [50.9085411, 7.0541584],
                {"bubblingMouseEvents": true, "color": "#1fff96", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#7de8b5", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 10, "stroke": true, "weight": 3}
            ).addTo(map_42f8d804115a4140bd2c54844f217bc3);
        
    
            var circle_marker_3c3b7052cc3a4d0f83e42a3e60023639 = L.circleMarker(
                [50.6915893, 3.1741734],
                {"bubblingMouseEvents": true, "color": "#1fff96", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#7de8b5", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 10, "stroke": true, "weight": 3}
            ).addTo(map_42f8d804115a4140bd2c54844f217bc3);
        
    
            var circle_marker_5f087d2fd6f446379b648eccfcb228de = L.circleMarker(
                [30.4319533, 76.7785643],
                {"bubblingMouseEvents": true, "color": "#1fff96", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#7de8b5", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 10, "stroke": true, "weight": 3}
            ).addTo(map_42f8d804115a4140bd2c54844f217bc3);
        
    
            var circle_marker_46a6e693cd2042609eb8a2b9fbba207e = L.circleMarker(
                [-33.4247879, -70.51749760753927],
                {"bubblingMouseEvents": true, "color": "#1fff96", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#7de8b5", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 10, "stroke": true, "weight": 3}
            ).addTo(map_42f8d804115a4140bd2c54844f217bc3);
        
    
            var circle_marker_a09d197b269f4cd99dddb2efd95f526e = L.circleMarker(
                [50.1106444, 8.6820917],
                {"bubblingMouseEvents": true, "color": "#1fff96", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#7de8b5", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 10, "stroke": true, "weight": 3}
            ).addTo(map_42f8d804115a4140bd2c54844f217bc3);
        
    
            map_42f8d804115a4140bd2c54844f217bc3.fitBounds(
                [[-33.4247879, -121.6846349], [53.554448, 114.1583819]],
                {"padding": [20, 20]}
            );
        
</script>